@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #334B35;
    width: 100vw;
    height: 70px;
}

.logo-container {
    display: flex;
    font-size: 1.4rem;
    font-family: "Playwrite GB S", cursive;
    color: #ffffff;
    justify-content: center;
    margin-left: 3%;
    width: 10%;
}

.links-container {
    display: flex;
    justify-content: center;
    width: 70%;
}
.links-container a {
    display: flex;
    width: 10%;
    justify-content: center;
    color: white;
    font-size: .9rem;
    text-decoration: none;
    padding: 1rem;
}

.links-container a:hover {
    text-decoration:underline #F7C35F;
}

header {
    background-image: url(./images/bg-agro.jpg);
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    height: 100vh;
    width: 100%;
}