@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #334B35;
    width: 100vw;
    height: 70px;
    z-index: 2;
}

.logo-container {
    display: flex;
    font-size: 1.4rem;
    font-family: "Playwrite GB S", cursive;
    color: #ffffff;
    justify-content: center;
    margin-left: 3%;
    width: 10%;
}

.links-container {
    display: flex;
    justify-content: center;
    width: 70%;
}

.links-container a {
    display: flex;
    width: 10%;
    height: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: .9rem;
    text-decoration: none;
    padding: 1rem;

}

.links-container a:hover {
    border-bottom: 2px solid #F7C35F;
}

header {
    background-image: url(./images/bg-agro.jpg);
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    height: 100vh;
    width: 100%;

}

.container-header {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    left: 10%;
    top: auto;

}

h2 {
    font-size: 1.4rem;
}

h1 {
    font-size: 3.5rem;
    color: #F7C35F;
}

h3 {
    margin-top: 0;
    font-size: 3.5rem;
    color: #ffffff;
}

p {
    font-family: "Poppins", sans-serif;
}

.btn-discover {
    width: 200px;
    height: 6vh;
    border: none;
    margin-top: 3%;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
    background-color: #F7C35F;
}

.btn-discover:hover {
    opacity: 0.93;
    cursor: pointer;
}

.about {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #334B35;
}

.box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-top: 5%;
}

.box-img img {
    width: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.box {
    width: 20px;
    margin-top: 15%;
    height: 200px;
    background-color: #F7C35F;
}

.box-info {
    width: 40%;
    margin-top: 5%;
    z-index: 1;
}

.box-info h3 {
    font-size: 20px;
    font-weight: 300;
}

.box-info h1 {
    font-family: "Livvic", sans-serif;
    font-size: 50px;
    color: #ffffff;
}

.box-info h4 {
    margin-top: 2%;
    color: #F7C35F;
    font-size: 30px;
    font-weight: 300;
}

.box-info p {
    color: #ffffff;
    font-weight: 300;
    margin-top: 2%;

}

.check-list {

    display: flex;
    width: 100%;
    height: 40%;
    margin-top: 3%;
    flex-direction: column;
}

.check-box {
    display: flex;
    width: 100%;
    padding: 10px;
    position: relative;
}

.check-list img {
    display: flex;
    justify-content: center;
    z-index: 4;
    /* Certifique-se que a imagem tenha um z-index maior */
    position: relative;
    /* Necessário para respeitar o z-index */
}

.check-box h3 {
    font-size: 16px;
    margin-left: 10px;
    font-weight: 400;
}

.foods {

    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    background-color: #334B35;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

.title2 {
    color: #F7C35F;
    font-size: 50px;
    text-align: center;
}

.food-container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: center;
    align-content: center;
    margin: 40px auto;
    color: #ffffff;
}

.foods-box {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    background-color: #d9d9d925;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20%;

}

.foods-box img {
    display: flex;
    overflow: hidden;
    width: 64px;
}

.h2-foods {
    font-family: "Livvic", sans-serif;
    font-weight: 500;
}

.foods-box:hover {
    background-color: #F7C35F;
    color: #000000;
    cursor: pointer;
}

.video-container {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(./images/bg2.jpg);
    background-position: 0%;
    background-size: cover;
}

.text-box {
    display: flex;
    font-size: 50px;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    color: #ffffff;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.play-box {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: self-start;
    margin: 0;
}

.play-box img:hover {
    cursor: pointer;
}

.titleplay {
    display: flex;
    margin-left: 12%;
    font-size: 30px;
    font-family: "Delius Swash Caps", cursive;
    color: #F7C35F;
}

.modern-container {
    display: flex;
    width: 100%;
    z-index: 2;
}

.logo {
    display: flex;
    position: absolute;
    margin-top: 2%;
    margin-left: 35%;
}

.imagem-box {
    display: flex;
    width: 60%;
    background-color: #6D8C54;
}

.imagem-box img {
    width: 100%;
}

.textbox {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    background-image: url(./images/style.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #6D8C54;

}

.h2text {
    font-size: 20px;
    font-family: "Livvic", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin-top: 4%;
}

.h1text {
    font-size: 50px;
    color: #F7C35F;
    font-family: "Livvic", serif;
    font-weight: 500;
}

.icons-box {
    display: flex;
    margin-top: 4%;
    align-items: center;
}

.text-lateral {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 3%;
}

.boxmacro {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-bottom: 5%;
}

.text-lateral h3 {
    font-size: 24px;
    font-family: "Livvic", serif;
    font-weight: 500;
}

.text-lateral p {
    font-size: 18px;
    font-family: "Roboto", serif;
    color: #ffffff;
    font-weight: 300;
}

.notices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #334B35;
    background-image: url(./images/style2.png);
    background-repeat: no-repeat;
    width: 100%;
}

.title-ntc {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-ntc h3 {
    font-size: 20px;
    font-weight: 200;
}

.title-ntc h2 {
    font-size: 50px;
    color: #ffffff;
    font-family: "Livvic", serif;
    font-weight: 500;
}

.news-box {
    width: 460px;
    height: 500px;
    background-color: #ffffff23;
    overflow: hidden;
}

.data {
    width: 120px;
    border-radius: 0 0 10px 0;
    background-color: #F7C35F;
    position: absolute;
    justify-content: center;
}

.data h2 {
    display: flex;
    font-size: 15px;
    font-family: "Livvic", serif;
    font-weight: 500;
    justify-content: center;
}


.img-container {
    width: 100%;
    height: 60%;
}

.news-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.coments {
    display: flex;
}

.name-box {
    display: flex;
    margin-left: 3%;
    align-items: center;
    width: auto;
}

.name-box img {
    width: 24px;
}

.name-box h2 {
    font-size: 14px;
    font-weight: 400;
}

.name-box h2:hover {
    cursor: pointer;
}

.coments-box {
    display: flex;
    margin-left: 3%;
    align-items: center;
    width: auto;
}

.coments-box img {
    width: 24px;
}


.coments-box h2 {
    font-size: 14px;
    font-weight: 400;
}

.coments-box h2:hover {
    cursor: pointer;
}

.news-box p {
    display: 80%;
    margin: 3% 3% 3% 3%;
    font-size: 24px;
    color: #ffffff;
    font-family: "Livvic", serif;
    font-weight: 500;
}

.boxes-macro {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-content: center;
    margin-bottom: 5%;
}


.projects-container {
    background-color: #334B35;
    background-image: url(./images/back3.png);
    background-repeat: no-repeat;
}

.title-ntc2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-ntc2 h3 {
    font-size: 20px;
    font-weight: 200;
}

.title-ntc2 h2 {
    font-size: 50px;
    color: #ffffff;
    font-family: "Livvic", serif;
    font-weight: 500;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    width: 314px;
    height: 350px;
    display: block;
    border-radius: 12px;
    text-decoration: none;
    overflow: hidden;
    box-sizing: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.1s ease;
}

.card-list .card-item .card-link:hover {
    border: 2px solid #F7C35F;
}

.card-image {
    width: auto;
    object-fit: contain;
    border: 1px solid red;

}

.swiper {
    width: 90%;
    height: 300px;
}

.card-list .card-link {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #F7C35F;
    background-color: #6D8C54;
    width: fit-content;
}